.list-container
  padding: 20px
  .table
    border: 1px solid #dfe6ec
    border-bottom: none
    >>> .table-header
      background: #eef1f6
      color: #1f2d3d
    .el-form
      display: flex
      flex-wrap: wrap
      .el-form-item
        width: 50%
        margin-bottom: 10px
        margin-right: 0
        box-sizing: border-box
        >>> .el-form-item__label
              color: #99a9bf